body{
	background: cadetblue;
    color: darkblue;
    font-family: "algeria";
	font-size:20px;
}
div.panel-body{
	color: #000000;
}
footer{
	color:lightcoral;
}
a{
	color: firebrick;
	text-decoration: underline;
	font-weight: 700;
}
a:hover{
	color: palevioletred;
}
